* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}
.container {
  max-height: fit-content;
  background: var(--body_background);
  color: var(--body-color);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: var(--body_background);
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: var(--body-color);
  cursor: pointer;
  font-weight: bold;
}
[data-theme="dark"] .btns {
  color: white;
}
.btns:hover {
  background-color: lightgrey;
  color: white;
}
